<div class="container-fuild">

  <div class = "container-fluid header" >
    <div class="spacer"></div>
    <div class="container-fluid">
      <h1 class="">Post pet for adoption</h1>
    </div>
  </div>

  <div class = "container" style="margin-top:20px">

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
      <p>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Pet Name (Optional)</mat-label>
          <input matInput placeholder="Pet Name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Pet Type</mat-label>
          <mat-select #selectedType (selectionChange)="selectOption(selectedType.value)" formControlName="petType">
            <mat-option value="option" *ngFor="let opt of petTypes" [value]="opt.id">
              {{opt.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Pet Subtype</mat-label>
          <mat-select  formControlName="petSubtype">
            <mat-option value="option" *ngFor="let opt of subTypedata" [value]="opt.id">
              {{opt.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      
      <p>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </p>

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button">Submit Form</button>
      </div>

    </form>

  </div>



</div>