mat-form-field
{
  width: 100%;
}

.form-card
{
  padding:0;
}
.form-card-content
{
  padding:0px 15px;
  margin-bottom:0px;
}
.form-card-title
{
  padding:15px;
  background: #FFAB1A;
  color:white;
  padding-bottom:4px;
}
.form-card-actions
{
  margin:0;
  padding:0px 15px 15px 15px !important;
}