.pet-card
{
  margin:0px;
  padding:0px;
  margin-bottom:15px;
  padding-bottom:5px;
  transition: .4s;
  position: relative;
}
.pet-card-header
{ 
  color: rgb(245,209,89);
  transition: .4s;
  margin:0;
  padding:0;
}
.pet-card-image
{
  display: inline-block;
  position: relative;
  padding-top: 100%;
  margin-bottom: 0;
}
.pet-image
{
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .4s;
  overflow: hidden;
  }
.pet-image img
{
  height: 100%;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  object-fit: cover;
}

.pet-seemore
{
  background: url('https://i.ibb.co/2k73dBc/dog-01.png') no-repeat;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .4s;
}

.pet-card:hover  , .pet-card-seemore:hover
{
  cursor:pointer;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.3);
}

.pet-card-image img
{
  height: 100%;
}
.pet-card-desc
{
  height: 70px;
  padding:8px 10px;
  color:rgba(0,0,0,.5);
  border:2px solid #F5CF51;
  border-radius:5px;
  margin:0px 10px;
  position: relative;
  font-weight: 500;
  transition: .4s;
}
p
{
  max-height:50px ;
  text-overflow: ellipsis; 
  overflow: hidden;
}
.pet-card-desc::after
{
  content:"Pet Description";
  position:absolute;
  background: white;
  padding:0px 5px;
  color: #F5CF51;
  top:-10px;
  left:20;
  font-size: 12px;
  transition: .4s;   
}
.pet-card-petName h1
{
  font-weight: 600;
  text-align: center;
  margin: 0;
  color:#36BD79;
  font-family:'Segoe UI';
  font-size:20px;
}

.pet-card-caption h1
{
  font-weight: 600;
  text-align: center;
  margin: 0;
  font-size:20px;
  color:white;
  font-family:'Segoe UI';
  margin:0px;
}

.pet-card-petName
{
  height: 40px;
}
.pet-card-button
{
  position: absolute;
  right:20px;
  top:20px;
  background: rgba(50,175,113,.7);
  transition: .4s;
}
.pet-card-button:hover
{
  background: rgb(50,175,113);
  transform: rotate(20deg) scale(1.2);
}
.pet-card-petSubType
{
  color: #3AD78C;
  margin: 0;
  text-align: center !important;
}

.pet-chips
{
  margin-bottom:5px;
}
.pet-chips-label
{
  padding-top:5px;
  font-family:'Segoe UI';
  font-weight: 600;
}
mat-form-field
{
  width: 100%;
}
.pet-chips-container
{
  padding-top:15px;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:5px;
  background: white;
  margin:0;
  margin-bottom:20px;
  border-radius:5px;
  
}