
<!--
<header>
  <nav mat-toolbar
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">PetAdoptionSite</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
              >Fetch data</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>-->

<mat-toolbar class = "nav-menu" color = "accent">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button class = "title" mat-button [routerLink]="['/']">Pet Adoption Site</button>
  <span class="nav-spacer"></span>
  <!--items on right-side nav bar here-->
  <!--<button (click)="changeTheme()" mat-button>Switch Theme</button>-->
  <button class = "menubtn" mat-button [routerLink]="['/']">Home</button>
  <button class = "menubtn" mat-button [routerLink]="['/counter']">Counter</button>
  <button class = "menubtn" mat-button [routerLink]="['/fetch-data']">Fetch Data</button>


  <div class="input-group search">
    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button mat-raised-button class="input-group-text" id="basic-addon2"><mat-icon>search</mat-icon></button>
    </div>
  </div>

  
</mat-toolbar>
