<br><br><br><br><br>
<div class="container">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Register</mat-card-title>
        <form [formGroup]="formGroup">
        <mat-card-content>
            
            <mat-card-subtitle> Personal Information</mat-card-subtitle>
            <mat-divider></mat-divider>
                <p>
                  <mat-form-field appearance="outline" class="form-element">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name">
                  </mat-form-field>
                </p>
                
                <p>
                    <mat-form-field appearance="outline" class="form-element">
                      <mat-label>Last Name</mat-label>
                      <input matInput placeholder="Last Name">
                    </mat-form-field>
                </p>
                
                <p>
                    <mat-form-field appearance="outline" class="form-element">
                      <mat-label>Contact Number</mat-label>
                      <input matInput placeholder="Contact Number">
                    </mat-form-field>
                </p>

                <p>
                  <mat-form-field appearance="outline" class="form-element">
                    <mat-label>State/Province</mat-label>
                    <mat-select #selectedProvince (selectionChange)="selectProvince(selectedProvince.value)">
                      <mat-option value="option" *ngFor="let opt of provinces" [value]="opt.key">
                        {{opt.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </p>

                <p>
                  <mat-form-field appearance="outline" class="form-element">
                    <mat-label>City/Municipality</mat-label>
                    <mat-select>
                      <mat-option value="option" *ngFor="let opt of citiesData" [value]="opt.name">
                        {{opt.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </p>

                <mat-card-subtitle> User Information</mat-card-subtitle>
                <mat-divider></mat-divider>

                <p>
                    <mat-form-field appearance="outline" class="form-element">
                      <mat-label>Username</mat-label>
                      <input matInput placeholder="Username">
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="outline" class="form-element">
                      <mat-label>Password</mat-label>
                      <input type="password" matInput placeholder="Password">
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="outline" class="form-element">
                      <mat-label>Confirm Password</mat-label>
                      <input type="password" matInput placeholder="Confirm Password">
                    </mat-form-field>
                </p>
            
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" class="button">Submit Form</button>
        </mat-card-actions>
        </form>
      </mat-card>
</div>

